
/* ############## extra small device ################### */

@media (min-width: 320px) and (max-width: 575px){
/* ===================================================================================
                                Header Part Start
====================================================================================== */
header .header-right {
	text-align: center;
}
header .header-right a i {
	margin: 10px 20px;
}
/* ===================================================================================
                                Header Part end
====================================================================================== */

/* ===================================================================================
                                navbar Part start
====================================================================================== */
nav .navbar-nav{
    background: #0872b9;
}
nav ul li a:hover{
    color: white !important;
}
nav button i{
    font-size: 30px;
    color: #0872b9;
}
.navbar-light .navbar-toggler {
	border:none
}
.navbar-toggler:focus {
	box-shadow: none;
}
/* ===================================================================================
                                navbar Part end
====================================================================================== */

/* ===================================================================================
                                banner Part start
====================================================================================== */
#banner_part .overlay .banner_text h3 {
	font-size: 25px;
}
#banner_part .overlay .banner_text h1 {
	font-size: 30px;
}
#banner_part .overlay .banner_text p {
	width: 100%;
	margin-left: 0;
    line-height: 25px;
}
/* ===================================================================================
                                banner Part end
====================================================================================== */

/* ===================================================================================
                                about Part start
====================================================================================== */
#about_part .about_text .top_text {
	margin-bottom: 15px;
	width: 100%;
}
#about_part .about_text .bottom_text {
	width: 100%;
}
#about_part .about_text {
	padding: 10px 10px;
}
#about_part .about_text p {
	line-height: 25px;
}
/* ===================================================================================
                                about Part end
====================================================================================== */
/* ===================================================================================
                                services Part start
====================================================================================== */
#service_part .item .item_text p {
	line-height: 25px;
	width: 100%;
	padding-left: 0;
}
/* ===================================================================================
                                services Part end
====================================================================================== */
/* ===================================================================================
                                testimonial Part start
====================================================================================== */
#testimonial .test_item .item_text .item-details p {
	width: 100%;
	padding: 10px;
	line-height: 25px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}
#testimonial .test_item {
	margin-bottom: 200px;
}
/* ===================================================================================
                                testimonial Part end
====================================================================================== */

/* ===================================================================================
                                footer Part start
====================================================================================== */
footer{
    padding-bottom: 30px;
}
footer .footer_links h3 {
	padding-top: 30px;
}
/* ===================================================================================
                                footer Part end
====================================================================================== */

/* ===================================================================================
                                copyright Part start
====================================================================================== */
#copyright {
	font-size: 12px;
}
/* ===================================================================================
                                copyright Part end
====================================================================================== */
}


/* ############## small device ################### */



@media (min-width: 576px) and (max-width: 767px){
    /* ===================================================================================
                                    Header Part Start
    ====================================================================================== */
    header .header-right {
        text-align: center;
    }
    header .header-right a i {
        margin: 10px 20px;
    }
    /* ===================================================================================
                                    Header Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    navbar Part start
    ====================================================================================== */
    nav .navbar-nav{
        background: #0872b9;
    }
    nav ul li a:hover{
        color: white !important;
    }
    nav button i{
        font-size: 30px;
        color: #0872b9;
    }
    .navbar-light .navbar-toggler {
        border:none
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    /* ===================================================================================
                                    navbar Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    banner Part start
    ====================================================================================== */
    #banner_part .overlay .banner_text h3 {
        font-size: 25px;
    }
    #banner_part .overlay .banner_text h1 {
        font-size: 30px;
    }
    #banner_part .overlay .banner_text p {
        width: 100%;
        margin-left: 0;
        line-height: 25px;
    }
    /* ===================================================================================
                                    banner Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    about Part start
    ====================================================================================== */
    #about_part .about_text .top_text {
        margin-bottom: 15px;
        width: 100%;
    }
    #about_part .about_text .bottom_text {
        width: 100%;
    }
    #about_part .about_text {
        padding: 10px 10px;
    }
    #about_part .about_text p {
        line-height: 25px;
    }
    /* ===================================================================================
                                    about Part end
    ====================================================================================== */
    /* ===================================================================================
                                    services Part start
    ====================================================================================== */
    #service_part .item .item_text p {
        line-height: 25px;
        width: 100%;
        padding-left: 0;
    }
    /* ===================================================================================
                                    services Part end
    ====================================================================================== */
    /* ===================================================================================
                                    testimonial Part start
    ====================================================================================== */
    #testimonial .test_item .item_text .item-details p {
        width: 100%;
        padding: 10px;
        line-height: 25px;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
    }
    #testimonial .test_item {
        margin-bottom: 200px;
    }
    /* ===================================================================================
                                    testimonial Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    footer Part start
    ====================================================================================== */
    footer{
        padding-bottom: 30px;
    }
    footer .footer_links h3 {
        padding-top: 30px;
    }
    /* ===================================================================================
                                    footer Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    copyright Part start
    ====================================================================================== */
    #copyright {
        font-size: 12px;
    }
    /* ===================================================================================
                                    copyright Part end
    ====================================================================================== */
    }


/* ############## medium device ################### */



@media (min-width: 768px) and (max-width: 991px){
    /* ===================================================================================
                                    Header Part Start
    ====================================================================================== */
    header .header-right {
        text-align: center;
    }
    header .header-right a i {
        margin: 10px 20px;
    }
    /* ===================================================================================
                                    Header Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    navbar Part start
    ====================================================================================== */
    nav .navbar-nav{
        background: #0872b9;
    }
    nav ul li a:hover{
        color: white !important;
    }
    nav button i{
        font-size: 30px;
        color: #0872b9;
    }
    .navbar-light .navbar-toggler {
        border:none
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    /* ===================================================================================
                                    navbar Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    banner Part start
    ====================================================================================== */
    #banner_part .overlay .banner_text h3 {
        font-size: 25px;
    }
    #banner_part .overlay .banner_text h1 {
        font-size: 30px;
    }
    #banner_part .overlay .banner_text p {
        width: 100%;
        margin-left: 0;
        line-height: 25px;
    }
    /* ===================================================================================
                                    banner Part end
    ====================================================================================== */
    /* ===================================================================================
                                    about Part start
    ====================================================================================== */
    #about_part .about_text .top_text {
        margin-bottom: 15px;
        width: 100%;
    }
    #about_part .about_text .bottom_text {
        width: 100%;
    }
    #about_part .about_text {
        padding: 10px 10px;
    }
    #about_part .about_text p {
        line-height: 25px;
    }
    /* ===================================================================================
                                    about Part end
    ====================================================================================== */
    /* ===================================================================================
                                    services Part start
    ====================================================================================== */
    #service_part .item .item_text p {
        line-height: 20px;
        width: 100%;
        padding-left: 0;
        font-size: 14px;
    }
    #service_part .item .item_text h3 {
        font-size: 18px;
    }
    /* ===================================================================================
                                    services Part end
    ====================================================================================== */
    /* ===================================================================================
                                    testimonial Part start
    ====================================================================================== */
    #testimonial .test_item .item_text .item-details p {
        width: 100%;
        padding: 10px;
        line-height: 25px;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
    }
    #testimonial .test_item {
        margin-bottom: 200px;
    }
    /* ===================================================================================
                                    testimonial Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    footer Part start
    ====================================================================================== */
    footer{
        padding-bottom: 30px;
    }
    footer .footer_links h3 {
        padding-top: 30px;
    }
    /* ===================================================================================
                                    footer Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    copyright Part start
    ====================================================================================== */
    #copyright {
        font-size: 12px;
    }
    /* ===================================================================================
                                    copyright Part end
    ====================================================================================== */
    }

    /* ############## large device ################### */



@media (min-width: 992px) and (max-width: 1199px){    
    /* ===================================================================================
                                    banner Part start
    ====================================================================================== */
    #banner_part .overlay .banner_text h3 {
        font-size: 25px;
    }
    #banner_part .overlay .banner_text h1 {
        font-size: 30px;
    }
    #banner_part .overlay .banner_text p {
       margin-left: 37%;
        line-height: 25px;
    }
    /* ===================================================================================
                                    banner Part end
    ====================================================================================== */
    /* ===================================================================================
                                    about Part start
    ====================================================================================== */
    #about_part .about_text .top_text {
        margin-bottom: 15px;
        width: 100%;
    }
    #about_part .about_text .bottom_text {
        width: 100%;
    }
    #about_part .about_text {
        padding: 10px 10px;
    }
    #about_part .about_text p {
        line-height: 25px;
    }
    /* ===================================================================================
                                    about Part end
    ====================================================================================== */
    /* ===================================================================================
                                    services Part start
    ====================================================================================== */
    #service_part .item .item_text p {
        line-height: 20px;
        width: 100%;
        padding-left: 0;
        font-size: 14px;
    }
    #service_part .item .item_text h3 {
        font-size: 18px;
    }
    /* ===================================================================================
                                    services Part end
    ====================================================================================== */
    /* ===================================================================================
                                    team Part start
    ====================================================================================== */
    #team_part .member .overlay .overicon a {
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-top: 15px;
    }
    #team_part .member .overlay {
        height: 82%;
    }
    /* ===================================================================================
                                    team Part end
    ====================================================================================== */
    /* ===================================================================================
                                    testimonial Part start
    ====================================================================================== */
    #testimonial .test_item .item_text .item-details p {
        width: 100%;
        padding: 10px;
        line-height: 25px;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 1px;
    }
    #testimonial .test_item {
        margin-bottom: 200px;
    }
    /* ===================================================================================
                                    testimonial Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    footer Part start
    ====================================================================================== */
    footer{
        padding-bottom: 30px;
    }
    footer .footer_links h3 {
        padding-top: 30px;
    }
    /* ===================================================================================
                                    footer Part end
    ====================================================================================== */
    
    /* ===================================================================================
                                    copyright Part start
    ====================================================================================== */
    #copyright {
        font-size: 12px;
    }
    /* ===================================================================================
                                    copyright Part end
    ====================================================================================== */
    }